{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buyer.css') }}">
{% endblock %}

{% block navbar_content %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("main.index") }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <form class="form-inline" method="POST" action="{{ url_for("buyer.search") }}">
            <input class="form-control" type="search" placeholder="Search for Product" aria-label="Search" name="search" id="search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </li>
{% endblock %}

{% block main_content %}
    <form method="post" action="{{ url_for("api.prod_by_cat") }}">
        <label for="category"></label>
        <input id="category" name="category">
        <input type="submit" value="test submit">
    </form>
{% endblock %}