hr {
    margin-top: 1px;
    margin-bottom: 1px;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
}

.login-container {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.page-footer {
    width: 100%;
    height: 130px;
    overflow: hidden;
    background-color: #041E42;
    color: #FAFAFA;
    justify-content: center;
    font-size: small;
}

h5 {
    padding-top: 10px;
    font-size: medium;
    margin-bottom: 2px;
}