{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product.css') }}">
{% endblock %}

{% block navbar_content %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("main.index") }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-content active">
        <a class="nav-link" href="{{ url_for("signup.index") }}">Sign Up</a>
    </li>
{% endblock %}

{% block main_content %}
    <div class="listing-container">
        <div class="listing-header">
            <h1>Product Name</h1>
        </div>
        <div class="listing-details-container">
            <div class="product-image">
                <img src="product.jpg" alt="Where product image would go">
            </div>
            <div class="detail-container">
                <div class="seller-container">
                    <p class="seller-text">
                        This is where seller information goes
                        {{ seller_detail }}
                    </p>
                </div>
                <div class="description-container">
                    Where description for product goes
                    {{ product_description }}
                </div>
                <div class="logistic-container">
                    <div class="quantity">
                        product quantity available
                        {{ product_quantity }}
                    </div>
                    <div class="price">
                        product price
                        {{ product_price }}
                    </div>
                </div>
                <div class="order-container">
                    <form method="post">
                        <label for="order_quantity"></label>
                        <input type="number" min="1" max="{{ product_quantity }}" id="order_quantity" name="order_quantity" value="1">
                        <input type="submit" value="Order">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}