body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
}

nav {
    border-bottom: 1px solid #d3d3d3;
}

.main-section {
    width: 100vw;
    height: 90vh;
    display: flex;
}

.footer-section {
    color: white;
    width: 100vw;
    height: 27vh;
    background-color: #041E42;
}

.footer-container {
    width: 100%;
    background-color: #041E42;
}

.content-container {
    width: 100vw;
    height: 100vh;
}
