body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
}

nav {
    border-bottom: 1px solid #d3d3d3;
}

.main-section {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.footer-container {
    width: 100%;
    background-color: #041E42;
}

.content-container {
    width: 100vw;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w-full {
    width: 100vw;
}

.h-full {
    height: 100vh;
}

.w-80 {
    width: 80%;
}

.h-80 {
    height: 80%;
}

.bg-yellow {
    background-color: #D5B942;
}

.w-45 {
    width: 45%;
}

.w-55 {
    width: 55%;
}

.bg-yellow {
    background-color: #D5B942;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}