.container {
    display:flex;
    flex-direction: column;
}

.submit-container {
}

.table-container {

}

.insert-container {
    width: 75%;
}

.input-label > label, input {
    display: block;
}

input {
    margin-bottom: 10px;
}

.select-label > label, select {
    display: block;
}

select {
    margin-bottom: 10px;
}

.textarea-label > label, textarea {
    display: block;
}

textarea {
    margin-bottom: 10px;
    width: 50%;
}

.insert-container {
    display:flex;
    flex-direction: column;
}

.submit-button-container {

}