.page-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.page-container > .cat-header {
    text-align: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
}

.single-product-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 10px auto;
    padding-left: 1px;
    padding-right: 1px;

}

.product-name-container {
    text-align: center;
    border-bottom: 2px solid black;
}

.product-name-container > button, .product-inner-container > button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
}