.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-reverse {
    flex-direction: column;
}

.w-full {
    width: 100vw;
}

.h-full {
    height: 100vh;
}


.red {
    background-color: red;
}

.signup-form-container {
    width: 50%;
    height: 100%;
}

.signup-img-container {
    width: 50%;
    height: 100%;
    background-color: #D5B942;
}

.form-container {
    color: #474747;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}