{%  extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
{% endblock %}

{% block navbar_content %}
    <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-content">
        <a class="nav-link" href="#">Sign Up</a>
    </li>
{% endblock %}

{% block main_content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="buyer-tab" data-bs-toggle="tab" data-bs-target="#buyer-tab-pane" type="button" role="tab" aria-controls="buyer-tab-pane" aria-selected="true">Buyer Signup</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="seller-tab" data-bs-toggle="tab" data-bs-target="#seller-tab-pane" type="button" role="tab" aria-controls="seller-tab-pane" aria-selected="false">Seller Signup</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="buyer-tab-pane" role="tabpanel" aria-labelledby="buyer-tab" tabindex="0">
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="emailInput"
                        aria-describedby="emailHelp" placeholder="youremail@example.com">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="passwordInput"
                       placeholder="examplepass123!">
            </div>
            <div class="mb-3">
                <label for="passwordConfInput" class="form-label">Confirm Password</label>
                <input name="passwordConf" type="password" class="form-control" id="passwordConfInput"
                       placeholder="examplepass123!">
            </div>
            <div class="mb-3">
                <label for="businessNameInput" class="form-label">Business Name</label>
                <input name="businessName" class="form-control" id="businessNameInput"
                       placeholder="samplebusinessname">
            </div>
        </div>
        <div class="tab-pane" id="seller-tab-pane" role="tabpanel" aria-labelledby="seller-tab" tabindex="0">
            This should have different input fields for sellers
        </div>
    </div>

{% endblock %}