{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/checkout.css') }}">
{% endblock %}

{% block navbar_content %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("buyer.index") }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("buyer.index") }}">Back <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{%  block main_content %}
    <div class="checkout-container">
        <div class="product-detail-container">
            <div>
                <p>
                    Product Name: {{ result.product_name }}
                </p>
                <p>
                    Seller: {{ business_name }}
                </p>
                <p>
                    Contact: {{ result.seller_email }}
                </p>
                <p>
                    Quantity: {{ quantity }}
                </p>
                <p>
                    Unit Price: {{ result.product_price }}
                </p>
                <p>
                    Order Total: {{ total }}
                </p>
            </div>
        </div>
        <form method="post" action="{{ url_for('api.place_order') }}">
            <div class="credit-form-container">
                <div class="auto-fill-button">
                    <input onclick="get_credit()" type="button" value="Auto-fill Previous Information">
                </div>
                <div class="credit-info-container">
                    <div class="credit-num-container">
                        <label for="credit_card_num" class="form-label">Credit Card Number</label>
                        <input name="credit_card_num" id="credit_card_num" class="form-control" value="" required>
                    </div>
                    <div class="expire-date-container">
                        <label for="expire_date" class="form-label">Expiration Date</label>
                        <input name="expire_date" id="expire_date" class="form-control" placeholder="mm/yyyy" value="" required>
                    </div>
                    <div class="security-code-container">
                        <label for="security_code" class="form-label">Security Code</label>
                        <input name="security_code" id="security_code" class="form-control" value="" required>
                    </div>
                </div>
                <div class="hidden-container">
                    <input type="hidden" value="{{ listing_id }}" name="listing_id" id="listing_id">
                    <input type="hidden" value="{{ result.seller_email }}" name="seller_email" id="seller_email">
                    <input type="hidden" value="{{ quantity }}" name="quantity" id="quantity">
                    <input type="hidden" value="{{ total }}" name="price" id="price">
                </div>
                <div class="submit-container">
                    <input type="submit" value="Purchase">
                </div>
            </div>
        </form>
    </div>
    <script>
        function get_credit() {
            let credit_num = document.getElementById("credit_card_num");
            let expire_date = document.getElementById("expire_date");
            let security_code = document.getElementById("security_code");

            fetch(`${window.origin}/checkout/get_credit`)
            .then(function (response) {
                if  (response.status !== 200) {
                    console.log(`Response status was not 200: ${response.status}`)
                }

                response.json().then(function (data) {
                    console.log(data);
                    credit_num.value = data[0].credit_card_num;
                    expire_date.value = data[0].expire_month + "/" + data[0].expire_year;
                    security_code.value = data[0].security_code;
                })
            })
        }
    </script>
{%  endblock %}