{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/checkout.css') }}">
{% endblock %}

{% block navbar_content %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("main.index") }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-content active">
        <a class="nav-link" href="{{ url_for("signup.index") }}">Sign Up</a>
    </li>
{% endblock %}

{%  block main_content %}
    <div class="checkout-container">
        <div class="product-detail-container">
            <div>
                <p>
                    Product Name: {{ result.product_title }}
                </p>
                <p>
                    Seller: {{ result.seller_email }}
                </p>
                <p>
                    Quantity: {{ quantity }}
                </p>
                <p>
                    Unit Price: {{ result.product_price }}
                </p>
                <p>
                    Order Total: {{ total }}
                </p>
            </div>
        </div>
        <form method="post" action="{{ url_for('checkout.rate') }}">
            <div class="credit-form-container">
                <div class="auto-fill-button">
                    <input type="button" value="Auto-fill Previous Information">
                </div>
                <div class="credit-info-container">
                    <div class="credit-num-container">
                        <label for="credit_card_num" class="form-label">Credit Card Number</label>
                        <input name="credit_card_num" id="credit_card_num" class="form-control" value="{{ credit_num }}">
                    </div>
                    <div class="expire-date-container">
                        <label for="expire_date" class="form-label">Expiration Date</label>
                        <input name="expire_date" id="expire_date" class="form-control" placeholder="mm/yy" value="{{ exp_date }}">
                    </div>
                    <div class="security-code-container">
                        <label for="security_code" class="form-label">Security Code</label>
                        <input name="security_code" id="security_code" class="form-control" value="{{ security_code }}">
                    </div>
                </div>
                <div class="submit-container">
                    <input type="submit" value="Purchase">
                </div>
            </div>
        </form>
    </div>

{%  endblock %}