{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/helpdesk.css') }}">
{% endblock %}

{% block navbar_content %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("main.index") }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("helpdesk.index") }}">Complete Request <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("helpdesk.request") }}">Insert Request <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="insert-container">
            <form method="post">
                <div class="input-label">
                    <label for="sender_email">Sender Email</label>
                    <input id="sender_email" name="sender_email">
                </div>
                <div class="input-label">
                    <label for="helpdesk_email">Helpdesk Email</label>
                    <input id="helpdesk_email" name="helpdesk_email">
                </div>
                <div class="select-label">
                    <label for="request_category">Request Category</label>
                    <select name="request_category" id="request_category">
                        <option value="ChangeID">Change ID</option>
                        <option value="MarketAnalysis">Market Analysis</option>
                        <option value="AddCategory">Add Category</option>
                    </select>
                </div>
                <div class="textarea-label">
                    <label for="request_description">Request Description</label>
                    <textarea id="request_description" name="request_description" rows="5"></textarea>
                </div>
                <div class="submit-button-container">
                    <input type="submit" id="submit-change" value="Mark Complete">
                </div>
            </form>
        </div>

        <div class="table-container">
            <div class="card-body">
                <h2 class="card-title">Helpdesk Requests</h2>
                <table class="table">
                    <tr>
                        <th scope="col"> Request ID</th>
                        <th scope="col"> Sender Email</th>
                        <th scope="col"> Helpdesk Staff Email</th>
                        <th scope="col"> Request Type</th>
                        <th scope="col"> Description</th>
                        <th scope="col"> Status</th>
                    </tr>
                    <tbody>
                    {% for request_id, sender_email, helpdesk_staff_email, request_type, request_desc, request_status in result %}
                        <tr>
                            <td> {{ request_id }}</td>
                            <td> {{ sender_email }} </td>
                            <td> {{ helpdesk_staff_email }} </td>
                            <td> {{ request_type }} </td>
                            <td> {{ request_desc }} </td>
                            <td> {{ request_status }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}