{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block navbar_content %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("main.index") }}">Home <span class="sr-only">(current)</span></a>
    </li>

    {% if active %}
        <li class="nav-item">
            <form action="{{ url_for('api.logout') }}" method="POST">
                <button type="submit" class="nav-link btn btn-link active" style="font-size: 17.6px;">Logout</button>
            </form>
        </li>
    {% endif %}

    {% if not active %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for("login.index") }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for("signup.index") }}">Sign Up</a>
        </li>
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="text-container">
            <h1>Join Nittany Business And Our Connected Network of Businesses</h1>
            <h3>Making The Process Of Selling And Buyer Products For Your Business As Easy As Can Be</h3>
            <form action="{{ url_for('signup.index') }}">
                <button class="btn btn-primary h3 get-started">Get Started Now</button>
            </form>
        </div>
        <div class="img-container">
            <img src="/static/img/Earth_clip_art.svg" width="500" height="500"
             alt="image of penn state logo">
        </div>
    </div>
{%  endblock %}
