{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block navbar_content %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("main.index") }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for("login.index") }}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for("signup.index") }}">Sign Up</a>
    </li>
{% endblock %}

{% block main_content %}
    <div class="category">
        <ul>
            <li class="dropdown">
                <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                          <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                              </div>
                          </div>
                      </div>
                    </div>
              </div>
            </li>

            <li class="dropdown">
                <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                          <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                              </div>
                          </div>
                      </div>
                    </div>
              </div>
            </li>

            <li class="dropdown">
                <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
                </button>
                <div class="dropdown-menu category-button" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <a class="dropdown-item" href="#">Sub-Category</a>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                        <a class="dropdown-item" href="#">Sub-Sub-Category</a>
                          <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle category-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                                <a class="dropdown-item" href="#">Sub-Sub-Sub-Category</a>
                              </div>
                          </div>
                      </div>
                    </div>
              </div>
            </li>
        </ul>
    </div>
{%  endblock %}